/*
 * @Author: ChenShan 
 * @Date: 2019-07-10 15:53:39 
 * @Last Modified by: ChenShan
 * @Last Modified time: 2019-07-10 15:54:20
 */
.container {
    width: 310px;
    height: 220px;
}
.webs polygon {
    fill: white;
    fill-opacity: 0.5;
    stroke: gray;
    stroke-dasharray: 10 5;
}
.areas polygon{
    fill-opacity: 0.3;
    stroke-width: 3;
}
.areas circle{
    fill: white;
    stroke-width: 3;
}